<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"><link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addition</title>
</head>
<body>
    <h1>subtraction for,ED </h1>
    <form action="subtraction-form" method="POST">
        a:<input type="number" name="a_val" > <br />
        b:<input type="number" name="b_val" > <br />
        <input type="submit" >
    </form>
</body>
</html>